<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/mvc
             http://www.springframework.org/schema/mvc/spring-mvc.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="cn.hj"></context:component-scan>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

<!--    前端控制器，哪些警太资源不拦截
1. location:指的是webapp下的哪些文件不进行拦截
mapping：跟你的映射请求时有关系的(
        下面的mapping="/js/**" -> 表示：你请求的路径带有/js，我们都不会对它进行拦截。
)
2. 但是以后不仅仅是静态文件js，还有静态css.images文件，请看下面的配置
-->
   <mvc:resources mapping="/js/**" location="/js/**" />
   <mvc:resources mapping="/images/**" location="/images/**" />
   <mvc:resources mapping="/css/**" location="/css/**" />

    <mvc:annotation-driven></mvc:annotation-driven>
</beans>